# =========================================================================
# GITIGNORE AUTOMÁTICO - SOLO SUBE EJERCICIOS Y CONFIGURACIONES
# =========================================================================

# 1. Ignorar carpetas temporales globales de Unity y del sistema
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/.vs/
**/.vscode/
*.csproj
*.sln
*.slnx

# 2. LA MAGIA: Ignorar por defecto TODO lo que entre en la carpeta Assets
**/Assets/*

# 3. EXCEPCIONES: Forzar a Git a rastrear únicamente tus carpetas de ejercicios
# (El signo ! significa "No ignores esto")
!**/Assets/Ejem*/
!**/Assets/Ejer*/
!**/Assets/Ejercicio*/

# 4. Asegurar que se suban los metadatos (.meta) de tus carpetas permitidas
!**/Assets/Ejem*/**
!**/Assets/Ejer*/**
!**/Assets/Ejercicio*/**

# 5. Forzar que se suban los ajustes globales de Unity (Botones, VR, Físicas...)
!**/ProjectSettings/
